body{background-color: rgb(147, 188, 224);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1em;
text-align: center;
box-shadow: 1px 2px 20px black;
padding: 2px;
margin: 1px;}

#pika{font-size: 16px;}