/*Somente para telas*/

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

header h1 {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    text-shadow: 1px 1px 10px white;

}

menu li{
    display: inline-block;
    margin: 0px 30px 0px 30px;
    background-color: rgb(82, 82, 82);
    padding: 10px;
    border-radius: 15px;
}

menu li:hover {
    border: 2px solid white;
    transition: .1s;
    cursor: pointer;
}
header {
    color: white;
    background-color: rgb(24, 23, 23);
    padding-bottom: 10px;
}

main p{
    width: 600px;
    margin: 30px auto 0px auto;
    display: block;
}