* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

header.topo {
    background-color: lightcoral;
    width: 100%;
    height: 200px;
    display: grid;
    align-items: end;
}

menu {
    background-color: lightblue;
    height: 100px;
}

.meio {
    background-color: rgb(174, 88, 255);
    height:670px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    justify-items: right;
}

.direita {
    background-color: lightgoldenrodyellow;
    width: 400px;
    grid-area: 1 / 3 / span 3 / span 1;
}

.rodape {
    width: 100%;
    height: 100px;
    background-color: rgb(155, 238, 173);
}