* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

header {
    background-color: rgb(105, 102, 102);
    color: rgb(255, 255, 255);
}

header>h1 {
    text-align: center;
    padding: 10px;
}

menu {
    display: none;
    text-decoration: none;
    list-style-type: none;
}

menu li {
    background-color: rgb(71, 70, 70);
    text-align: center;
    padding: 10px;
    border-top: 3px solid rgb(224, 224, 224);
}

menu a {
    color: white;
    text-decoration: none;
    list-style-type: none;

}

menu li:hover {
    background-color: rgb(54, 55, 68);
    font-size: 1.2rem;
}

article {
    background-color: rgb(255, 255, 255);
    width: 80vw;
    margin: auto;
    color: black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
}

article h2 {
    padding: 15px;
    text-decoration: underline;
}

article p {
    margin: 10px;
    text-align: justify;
    text-indent: 20px;
}

#burguer {
    display: block;
    text-align: center;
    background-color: rgba(36, 34, 34, 0.685);
    padding: 5px;
    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: black;
}