@media screen and (min-width:768px) and (max-width:992px) {

    section#login {
    width:90vw;
    transition-timing-function: ease;
    transition: width .3s, height .3s;

}
section#login > div#imagem {
    background: #5f2c82 url(../imagens/foto-m.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    width: 40%;
    height: 100%;
}
section#login > div#formulario {
    float: right;
    width: 60%;
}
body {
    background-image: linear-gradient(to top, #461f5f, #9118e2);
}
}

@media screen and (min-width:992px) {
    section#login {
        width:90vw;
        height: 60vh;
        transition: width .3s, height .3s;
        transition-timing-function: ease;
    }

    section#login > div#imagem {
        background: #5f2c82 url(../imagens/foto-g.jpg);
        float:right;
        width: 40%;
        height:100%;
        background-position: top center;
        background-size: cover;
    }

    section#login > div#login {
        float: left;
        width: 60%;
        height:100%;
    }
    body {
    background-image: linear-gradient(to top, #721fa5, #1608ddd2);
}
}

/*49a09d*/