* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body,
html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
}

section#login>div#imagem {
    background: #5f2c82 url(../imagens/foto-p.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-position: top right;
    display: block;
}

section#login>div#formulario {
    padding: 2px 4px 2px 4px;
    display: block;

}

div#formulario h1 {
    margin-bottom: 5px;
}

form .login {
    background-color: #ab5ce0;
    padding: 4px;
    border-radius: 15px;
    margin: 4px 0px;
}

.enviar>input[type=submit] {
    width: 100%;
    padding: 10px;
    background-color: #6d65db;
    color: white;
    margin: 3px 0px;
    border-radius: 15px;
    font-size: 1rem;
}

.enviar>input[type=submit]:hover {
    background-color: #29256b;
    transition-timing-function: ease;
}

.esqueci>a {
    background-color: #6d65db;
    width: 100%;
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-size: 1rem;
}

.esqueci>a:hover {
    background-color: #29256b;
}

.login img {
    background-color: white;
    padding: 3px;
    height: 30px;
    border-radius: 8px 0px 0px 8px;
    transform: translateY(3px);
}

.login input{
    width: calc(97% - 30px);
    background-color: #e1b4ff;
    height: 33px;
    border-radius: 0px 8px 8px 0px;
    transform: translate(-4px, -6px);
}
.login input:focus-within {
    background-color: white;
}