* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: gray;
    padding: 10px;
    color: white;
    text-align: center;
}
nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: right;
}
nav > a {
    color: white;
    text-decoration: none;
    margin: 8px;
    background-color: rgb(22, 22, 22);
    text-align: center;
    padding: 13px;
    border-radius: 15px;
}

nav  > a:hover {
    background-color: white;
    color: black;
    transition: 0.1s;
    transition-timing-function: ease;
}

main {
    margin: 10px;
    font-size: 1.0rem;
    background-color: lightgray;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.726);
}
main > p {
    text-indent: 20px;
}