.container {
display: grid;
grid-template: repeat(3, 1fr)/repeat(3,1fr);
height: 500px;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5rem;
}

.item1 {
    background-color: red;
    grid-row: 1/ 2;
    grid-column: 1/ 4;
    text-align: center;
    color: white;
}

.item3 {
    background-color: lightgreen;
    grid-row: 2 / 4;
    grid-column: 1;
}

.item4 {
    grid-row: 3;
    grid-column: 2 / 4;
    background-color: violet;
}

.item2 {
    grid-row: 2;
   grid-column: 2 / 4;
    background-color: cyan;
}