@charset "UTF-8";

* {
    padding: 0px;
    margin:0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
body {
    background-color: black;
}
img {
    width:100vw;
}

a {
    display: block;
    background-color: rgb(70, 12, 12);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}