@charset "UTF-8";

* {
    margin:0px;
    padding: 0px;
}
html , body {
    height: 100vh;
    width:100vw;
}

body {
    height: 100vh;
    position: relative;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

section#telefone {
    height: 627px;
    width:311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#tela {
    position: relative;
    top:80px;
    left: 22px;
    height: 471px;
    width: 269px;
}

section#redes-sociais img{
    border-radius: 100%;
    width:50px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
    
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    transition: 0.2s;
    width: 55px;
}