* {
    margin:0px;
    padding: 0px;
}
body {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

iframe {
    width:400px;
    height:700px;
}