body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: aliceblue;
text-align: justify;
}

h1{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align:center;
padding: 10px;}


p{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:1.2em;
padding:1.5em;
}

.app{text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: larger;
box-shadow: 1px 3px 20px;}

ul{display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    box-shadow: 1px 2px 20px black;
    padding: 10px;
    color:aliceblue;
    text-decoration:none;
    border-radius: 100px;
}
a{color: aliceblue;
text-decoration: none;}