body{
color: aliceblue;
text-align: justify;
background-image: linear-gradient(145deg, rgb(12, 10, 10), rgb(116, 116, 116));
}


.navbar > ul{
text-decoration:none;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align:initial;
display: flex;
list-style-type: none;
justify-content:space-evenly;
padding: 10px;
box-shadow:1px 2px 20px black;
text-decoration: none;}

.navbar > ul > li > a:hover{color:rgb(219, 80, 247);
 height: 10px;
 width: 10px;
}
.navbar > ul > li > a{color: #fff;
text-decoration: none;}

img{border-radius:50%;
border:5px solid snow;
}

.centro {text-align: center;
padding:5px;}

h1{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align:center;}

p{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:1.2em;
padding:1.5em;
}



.quadrado{box-shadow:1px 2px 20px black;
margin:5em;
text-align: center;
border-radius:10px;
padding:1rem;
transition:0.5s;

}
.quadrado:hover{box-shadow:10px 10px 30px rgb(16, 201, 99);
}


.embaixo2{text-align: center;
justify-content: space-evenly;
display: flex;
}

.embaixo2 > a > img:hover {
    height: 60px;
    width:60px;
    background-color: rgb(255, 255, 255);

}
