.quadrado {
    height: 400px;
    width: 400px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
    display:inline-block;
    margin-right: 1rem;
}

#foto1:hover {
   background-color: cadetblue;
}

#foto2:hover {
background-image: linear-gradient(to bottom , yellow , red);
}

#foto3:hover {
    background-image:url("imagens/wallpaper001.jpg");
}

body {
    background-image: url(imagens/wallpaper003.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size:cover;
}