@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#pc {
        display: block
    }
}

@media screen and (min-width:1200px) and (max-width:1920px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#tv {
        display: block;
    }
}

@media print {
    * {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        color: black;
        box-shadow: none;
    }

    main h1 {
        border: 4px solid black;
        border-radius: 15px;
        padding: 10px;
    }

    img#phone {
        display: none;
    }

    img#tv {
        display: none;
    }

    img#print {
        display: block;
    }
}