
/*Estilo geral*/
* {
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

html, body {
    width: 100vw;
    height:100vh;
}
h1 {
    color: white;
    margin: 15px;
}