
 @media screen and (orientation: portrait) {
    body {
    background: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}
}

 @media screen and (orientation: landscape) {
body, html {
    background: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
    
}
}

@media all {
    * {
    padding:0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

html, body {
    width: 100vw;
    height:100vh;
     background-repeat: no-repeat;
    background-color: #233eff;
    background-size: contain;
}

h1 {
    color: white;
    margin: 15px;
}}